/* Remove padding and margin */ 
*  
{ 
    margin: 0;
    padding: 0;
    border: 0;
}

.clear{clear:both;} 
.right{float: right;} 
.left{float: left;}

body{ font-family:verdana, arial, sans-serif; background: url(../images/Chalkboard.jpg) repeat; color: #000000; text-align:center; } 

#wrapper{width: 1024px; text-align:left; margin-left:auto; margin-right:auto;color: #ffffff; margin-bottom: 50px; }
/*
@font-face {
    font-family:topheader;
    src: url(fonts/rockfont.eot); 
}
*/
@font-face {
    font-family:topheader;
    src: url(../fonts/ThirstyRoughBoldThree.otf); 
}
@font-face {
    font-family:special;
    src: url(../fonts/Fontfabric-IntroRustGBase.otf); 
}
@font-face {
    font-family:display;
    src: url(../fonts/Fontfabric-IntroRustBase.otf); 
}
@font-face {
    font-family:gbase;
    src: url(../fonts/Fontfabric-IntroRustGBase.otf); 
}
@font-face {
    font-family:'chalkdust';
    src: url('../fonts/Chalkduster.ttf'); 
}

/*
.members_div{
    font-family: topheader;
    font-size: 90px;
    font-weight:500;
    margin: 60px 0 0 30px;
    text-align: left;
    width: 800px;
    padding: 0 0 5px 10px;
}





span.title_div{
    font-family: topheader;
    font-size: 50px;
    text-align: center;
    font-weight:500;
    padding: 50px 0 0 0;
    cursor:pointer;
}

span.title_div{
    font-family: special;
    font-size: 130px;
    text-align: center;
    font-weight:500;
    line-height: 75px;
}

div.display_box{
    margin: 100px 0 0 0;
}
div.display_box1{
    font-family: display;
    font-size: 75px;
    text-align: center;
    font-weight:500;
    line-height: 75px;
    width:55%;
}
div.display_box2{
    height:200px;
    border-right: 2px solid #ffffff;
    width:1%
}
div.display_box3{
    font-family: display;
    font-size: 50px;
    text-align: center;
    font-weight:500;
    line-height: 75px;
    width:40%;
}

.member_text{font-size:40px;}
.member_price{font-family:special}

.header_div{
    font-family: topheader;
    font-size: 80px;
    text-align: center;
    font-weight:500;
    padding: 70px 0 0 0;
}

span.title_div{
    font-family: special;
    font-size: 85px;
    text-align: center;
    font-weight:500;
    line-height: 75px;
    clear:both;	
}

div.menu_box{
    margin: 35px 50px 0 200px;
}

div.member_menu_box{
    margin: 80px 50px 0 200px;
}

.menu_box_line{
    border-bottom:3px solid #FFF;
    padding:5px 0 0 0;
    width:90%;	
}
.menu_box_item{
    font-family: display;
    font-size: 25px;
    text-align: left;
    font-weight:lighter;
    line-height: 40px;
    padding:0 0 0 10px;
    width:50%;
}

*/

h2.list_div{
    font-family: topheader;
    font-size: 50px;
    text-align: center;
    font-weight:500;
    padding: 50px 0 0 0;
    cursor:pointer;
}
.center {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

/* For menu list page start */
.menulist .members_div{
    font-family: topheader;
    font-size: 85px;
    font-weight:500;
    margin: 60px 0 0 10px;
    text-align: left;
    width: 800px;
    padding: 0 0 5px 10px;
}

.menulist span.title_div {
    clear: both;
    font-family: special;
    font-size: 83px;
    font-weight: 500;
    line-height: 75px;
    text-align: center;
}

.menulist .table_content{
    float:left; 
    width: 650px; 
    margin: 100px 0 0 0; 
    padding: 0 0 0 0;
}
.menulist .menu_text {
    font-family: display;
    font-size: 30px;
    font-weight: lighter;
    line-height: 40px;
    padding: 0 0 0 10px;
    text-align: left;
    width: 350px;
}

.menulist .menu_box_space{
    width:10px;
}

.menulist .member_price{
    font-family:chalkdust;
    font-size: 25px;
    text-align: center;
    font-weight:500;
    width:100px;
}

.menulist .guest_price{
    font-family:chalkdust;
    font-size: 25px;
    text-align: center;
    font-weight:500;
    width:100px;
}

.menulist th{
    border-bottom: 3px solid #FFFFFF;
}

.menulist .image_look {
    height: 514px;
    left: 30px;
    position: relative;
    top: -215px;
    width: 343px;
}
/* For menu list page end */

/* Daily special page start */
.dailyspecial .members_div{
    font-family: topheader;
    font-size: 90px;
    font-weight:500;
    margin: 60px 0 0 100px;
    text-align: center;
    width: 800px;
    padding: 0 0 5px 10px;
}

.dailyspecial span.title_div {
    clear: both;
    font-family: special;
    font-size: 85px;
    font-weight: 500;
    line-height: 75px;
    text-align: center;
}

.dailyspecial .table_content{
    /*float:left;*/ 
    width: 850px; 
    margin: 70px 0 0 0; 
    padding: 0 0 0 0;
}

.dailyspecial .menu_text{
    font-family: display;
    font-size: 25px;
    text-align: left;
    font-weight:lighter;
    line-height: 40px;
    padding:0 0 0 10px;
    width:400px;
}

.dailyspecial .menu_box_space{
    width:10px;
}

.dailyspecial .member_price{
    font-family:chalkdust;
    font-size: 25px;
    text-align: center;
    font-weight:500;
    width:100px;
}

.dailyspecial .guest_price{
    font-family:chalkdust;
    font-size: 25px;
    text-align: center;
    font-weight:500;
    width:100px;
}

.dailyspecial th{
    border-bottom: 4px solid #FFFFFF;
}

.dailyspecial .image_look{
    width:323px; 
    height:400px; 
    position: relative; 
    left: 81px;
    top: -126px;
}

.double {
    border-bottom: 11px double #FFF;
}
/* Daliy special pange end */

/* Members only special page start */
.memberspecial .members_div{
    font-family: topheader;
    font-size: 90px;
    font-weight:500;
    margin: 60px 0 0 100px;
    text-align: center;
    width: 800px;
    padding: 0 0 5px 10px;
}

.memberspecial .title_div {
    clear: both;
    font-family: special;
    font-size: 160px;
    font-weight: 500;
    line-height: 75px;
    text-align: center;
    line-height: 100px;
}

.memberspecial div.display_box{
    margin: 100px 0 0 0;
}
.memberspecial div.display_box1{
    font-family: display;
    font-size: 75px;
    text-align: center;
    font-weight:500;
    line-height: 90px;
    width:70%;
    padding:0 10px 0 10px;
}
.memberspecial div.display_box2{
    height:200px;
    border-right: 4px solid #ffffff;
    width:2%;
    margin: 25px 0 0 0;    
}
.memberspecial div.display_box3{
    font-family: display;
    font-size: 60px;
    text-align: center;
    font-weight:500;
    line-height: 75px;
    width:21%;
    padding:25px 0 0 35px;
}

.memberspecial .member_text{font-size:45px;}
.memberspecial .member_price{font-family: gbase; font-size: 60px;}
/* Members only special page end */

/* Soupe page start */
.soupspecial .header_div{
    font-family: topheader;
    font-size: 80px;
    text-align: center;
    font-weight:500;
    padding: 70px 0 0 0;
}

.soupspecial .table_content {
    margin: 70px 0 0;
    padding: 0;
    width: 850px;
}

.soupspecial span.title_div{
    font-family: special;
    font-size: 85px;
    text-align: center;
    font-weight:500;
    line-height: 75px;
    clear:both;	
}

.soupspecial .menu_box_line{
    border-bottom:3px solid #FFF;
    padding:5px 0 0 0;
    width:100%;	
}

.soupspecial div.menu_box{
    margin: 35px 0 0 0;
    width: 100%;
}

.soupspecial .menu_box_item{
    font-family: display;
    font-size: 25px;
    text-align: left;
    font-weight:lighter;
    line-height: 40px;
    padding:0 0 0 10px;
    width:400px;
}

.soupspecial .menu_box_price{
    font-family:chalkdust;
    font-size: 30px;
    text-align: left;
    font-weight:500;
    width:100px;
}

.soupspecial .menu_box_space{
    width:2%;
}
/* Soupe page end */